<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:app="http://www.appcelerator.org/">
    <head>
        <title>Test <%=@framework_name%></title>
        <script type="text/javascript">
            APP_TIMERS = {};
            APP_TIMERS.START_TIMER = new Date();
        </script>
        <script type="text/javascript" src="/javascripts/<%= @framework_url %>"></script>
        <script type="text/javascript">
            APP_TIMERS.FRAMEWORK_LOADED = new Date();
            
            APP_TIMERS.finish_test = function() {
                document.getElementById('framework_load_time').innerHTML = (APP_TIMERS.FRAMEWORK_LOADED - APP_TIMERS.START_TIMER);
                document.getElementById('dom_load_time').innerHTML = (APP_TIMERS.DOM_LOADED - APP_TIMERS.FRAMEWORK_LOADED);
                document.getElementById('large_file_load').innerHTML = (APP_TIMERS.BIG_FILE_LOADED - APP_TIMERS.DOM_LOADED);
                document.getElementById('dynamic_file_load').innerHTML = (APP_TIMERS.BIG_DYNAMIC_FILE_LOADED - APP_TIMERS.BIG_FILE_LOADED);
                document.getElementById('crazy_large_file_load').innerHTML = (APP_TIMERS.CRAZY_LARGE_FILE_LOADED - APP_TIMERS.BIG_DYNAMIC_FILE_LOADED);
                document.getElementById('total_time').innerHTML = (new Date() - APP_TIMERS.START_TIMER);
            }
        </script>
    </head>
    <body>
        <%= render :partial => "#{@framework_name}_test" %>
        <table>
            <tr>
                <th>Framework Loaded in</th><td id="framework_load_time"></td>
            </tr><tr>
                <th>DOM Loaded in</th><td id="dom_load_time"></td>
            </tr><tr>
                <th>Load Large File</th><td id="large_file_load"></td>
            </tr><tr>
                <th>Dynamic Large File</th><td id="dynamic_file_load"></td>
            </tr><tr>
                <th>Crazy-Large File</th><td id="crazy_large_file_load"></td>
            </tr><tr>
                <th>Total</th><td id="total_time"></td>
            </tr>
        </table>
        <div style="display: none">
            <%= render :partial => 'junk_elements' %>
        </div>
    </body>
</html>